In [18]:
import requests, json, pandas as pd

In [2]:
response = requests.get('http://api.open-notify.org/astros.json')

In [7]:
print("Status:",response.status_code)
print("Headers:",response.headers)

Status: 200
Headers: {'Server': 'nginx/1.10.3', 'Date': 'Mon, 29 Aug 2022 12:01:19 GMT', 'Content-Type': 'application/json', 'Content-Length': '490', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [25]:
json_response = response.json()
data = json_response['people']
print(data)

[{'name': 'Oleg Artemyev', 'craft': 'ISS'}, {'name': 'Denis Matveev', 'craft': 'ISS'}, {'name': 'Sergey Korsakov', 'craft': 'ISS'}, {'name': 'Kjell Lindgren', 'craft': 'ISS'}, {'name': 'Bob Hines', 'craft': 'ISS'}, {'name': 'Samantha Cristoforetti', 'craft': 'ISS'}, {'name': 'Jessica Watkins', 'craft': 'ISS'}, {'name': 'Cai Xuzhe', 'craft': 'Tiangong'}, {'name': 'Chen Dong', 'craft': 'Tiangong'}, {'name': 'Liu Yang', 'craft': 'Tiangong'}]

In [21]:
df = pd.DataFrame(data)
df

                     name     craft
0           Oleg Artemyev       ISS
1           Denis Matveev       ISS
2         Sergey Korsakov       ISS
3          Kjell Lindgren       ISS
4               Bob Hines       ISS
5  Samantha Cristoforetti       ISS
6         Jessica Watkins       ISS
7               Cai Xuzhe  Tiangong
8               Chen Dong  Tiangong
9                Liu Yang  Tiangong